@import url('normalize.css');

@import url('grid.css');
/*
 * Clever Web Design Site Styles
 * AUTHOR: Bill Patrianakos
 * URL: http://billpatrianakos.me
 */
/* CSS "reset" */
/* Grid Framework */
/*:::: COLORS ::::*/
/*:::: MIXINS ::::*/
.centered {
  margin-left: auto;
  margin-right: auto;
}
/* BACKGROUND GRADIENT MIXINS */
.nav-btn-bg {
  background: #858785;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1ODc4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM2MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #858785 0%, #353635 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #858785), color-stop(100%, #353635));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #858785 0%, #353635 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #858785 0%, #353635 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #858785 0%, #353635 100%);
  /* IE10+ */

  background: linear-gradient(top, #858785 0%, #353635 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858785', endColorstr='#353635',GradientType=0 ); /* IE6-8 */

}
.nav-btn-hvr {
  background: #deeac2;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZWFjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZWI4OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deeac2), color-stop(100%, #aeb898));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* IE10+ */

  background: linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deeac2', endColorstr='#aeb898',GradientType=0 ); /* IE6-8 */

}
.container-bg {
  background: #f0f0f0;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f0f0f0 0%, #dbdbdb 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #dbdbdb));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f0f0f0 0%, #dbdbdb 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f0f0f0 0%, #dbdbdb 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f0f0f0 0%, #dbdbdb 100%);
  /* IE10+ */

  background: linear-gradient(top, #f0f0f0 0%, #dbdbdb 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-8 */

}
/*:::: TYPOGRAPHY ::::*/
/* Hint: replace this comment with styles for each h, 1-6. Sizes for each need specification */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', Helvetica, Tahoma, sans-serif;
  font-weight: 600;
  color: #353635;
}
p {
  font-family: 'Cabin', Helvetica, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 24px;
}
h6 {
  font-size: 18px;
}
h5 {
  font-size: 22px;
}
h4 {
  font-size: 26px;
}
h3 {
  font-size: 30px;
}
h2 {
  font-size: 34px;
}
h1 {
  font-size: 36px;
}
/*:::: BUTTONS ::::*/
/* For styling links as buttons */
.link-button {
  padding: 10px;
  color: #353635;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  background: #deeac2;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZWFjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZWI4OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deeac2), color-stop(100%, #aeb898));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* IE10+ */

  background: linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deeac2', endColorstr='#aeb898',GradientType=0 ); /* IE6-8 */

  -o-box-shadow: 0 0 3px #353635;
  -moz-box-shadow: 0 0 3px #353635;
  -webkit-box-shadow: 0 0 3px #353635;
  box-shadow: 0 0 3px #353635;
  border: 1px solid #f9f5f4;
  -o-text-shadow: 0 1px 1px #f9f5f4;
  -moz-text-shadow: 0 1px 1px #f9f5f4;
  -webkit-text-shadow: 0 1px 1px #f9f5f4;
  text-shadow: 0 1px 1px #f9f5f4;
}
.link-button:hover {
  background: #858785;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1ODc4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM2MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #858785 0%, #353635 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #858785), color-stop(100%, #353635));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #858785 0%, #353635 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #858785 0%, #353635 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #858785 0%, #353635 100%);
  /* IE10+ */

  background: linear-gradient(top, #858785 0%, #353635 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858785', endColorstr='#353635',GradientType=0 ); /* IE6-8 */

  color: #f9f5f4;
  -o-text-shadow: 0 1px 1px #353635;
  -moz-text-shadow: 0 1px 1px #353635;
  -webkit-text-shadow: 0 1px 1px #353635;
  text-shadow: 0 1px 1px #353635;
}
/*:::: FORMs ::::*/
/**************************************\
|* THE REST OF YOUR STYLES BELOW HERE *|
\**************************************/
#top-decor {
  width: 100%;
  display: block;
  background-image: url(../img/design/top-decor.png);
  height: 10px;
}
#container {
  background-image: url(../img/design/bg.png);
}
#logo {
  margin-top: 35px;
}
header, nav {
  font-family: 'Open Sans';
}
/*:::: NAV STYLES ::::*/
#login-container {
  position: relative;
}
/* Top-most nav */
#alt-nav {
  list-style: none;
}
#alt-nav a {
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #f9f5f4;
  display: block;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -o-box-shadow: 0 0 3px #616362;
  -moz-box-shadow: 0 0 3px #616362;
  -webkit-box-shadow: 0 0 3px #616362;
  box-shadow: 0 0 3px #616362;
  -o-text-shadow: 0 1px 1px #353635;
  -moz-text-shadow: 0 1px 1px #353635;
  -webkit-text-shadow: 0 1px 1px #353635;
  text-shadow: 0 1px 1px #353635;
  color: #f9f5f4;
  text-decoration: none;
  background: #858785;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1ODc4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM2MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #858785 0%, #353635 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #858785), color-stop(100%, #353635));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #858785 0%, #353635 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #858785 0%, #353635 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #858785 0%, #353635 100%);
  /* IE10+ */

  background: linear-gradient(top, #858785 0%, #353635 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858785', endColorstr='#353635',GradientType=0 ); /* IE6-8 */

  font-size: 20px;
}
#alt-nav a:hover {
  background: #deeac2;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZWFjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZWI4OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deeac2), color-stop(100%, #aeb898));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* IE10+ */

  background: linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deeac2', endColorstr='#aeb898',GradientType=0 ); /* IE6-8 */

  color: #353635;
  -o-text-shadow: 0 1px 1px #f9f5f4;
  -moz-text-shadow: 0 1px 1px #f9f5f4;
  -webkit-text-shadow: 0 1px 1px #f9f5f4;
  text-shadow: 0 1px 1px #f9f5f4;
}
/* Main navigation */
#main-nav {
  list-style: none;
  float: left;
  position: relative;
  z-index: 10;
  margin-top: 25px;
}
#main-nav li {
  float: left;
  position: relative;
  margin-right: 15px;
}
#main-nav a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 42px;
  padding-right: 42px;
  text-decoration: none;
  border: 1px solid #f9f5f4;
  font-size: 22px;
  -o-box-shadow: 0 0 3px #353635;
  -moz-box-shadow: 0 0 3px #353635;
  -webkit-box-shadow: 0 0 3px #353635;
  box-shadow: 0 0 3px #353635;
  color: #353635;
  -o-text-shadow: 0 1px 1px #f9f5f4;
  -moz-text-shadow: 0 1px 1px #f9f5f4;
  -webkit-text-shadow: 0 1px 1px #f9f5f4;
  text-shadow: 0 1px 1px #f9f5f4;
  background: #deeac2;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZWFjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZWI4OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deeac2), color-stop(100%, #aeb898));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* IE10+ */

  background: linear-gradient(top, #deeac2 0%, #aeb898 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deeac2', endColorstr='#aeb898',GradientType=0 ); /* IE6-8 */

  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#main-nav a:hover {
  background: #858785;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1ODc4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM2MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #858785 0%, #353635 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #858785), color-stop(100%, #353635));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #858785 0%, #353635 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #858785 0%, #353635 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #858785 0%, #353635 100%);
  /* IE10+ */

  background: linear-gradient(top, #858785 0%, #353635 100%);
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858785', endColorstr='#353635',GradientType=0 ); /* IE6-8 */

  color: #f9f5f4;
  -o-text-shadow: 0 1px 1px #353635;
  -moz-text-shadow: 0 1px 1px #353635;
  -webkit-text-shadow: 0 1px 1px #353635;
  text-shadow: 0 1px 1px #353635;
}
#main-nav ul {
  list-style: none;
  position: absolute;
  left: -9999px;
}
#main-nav ul li {
  float: none;
  margin-top: 3px;
}
#main-nav ul a {
  white-space: nowrap;
}
#main-nav li:hover ul {
  left: 0;
}
#main-nav li:hover a {
  text-decoration: none;
}
#main-nav li:hover ul a {
  text-decoration: none;
}
#main-nav li:hover ul li a:hover {
  text-decoration: none;
}
/*:::: HOMEPAGE STYLING ::::*/
.clients h4 {
  line-height: 3px;
}
/*:::: FANCYBOX STYLES ::::*/
/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url('../img/ui/fancybox.png');
}
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none;
}
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff;
}
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}
#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url('../img/ui/fancybox.png') -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url('../img/ui/blank.gif');
  z-index: 1102;
  display: none;
}
#fancybox-left {
  left: 0px;
}
#fancybox-right {
  right: 0px;
}
#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}
#fancybox-left-ico {
  background-image: url('../img/ui/fancybox.png');
  background-position: -40px -30px;
}
#fancybox-right-ico {
  background-image: url('../img/ui/fancybox.png');
  background-position: -40px -60px;
}
#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */

}
#fancybox-left:hover span {
  left: 20px;
}
#fancybox-right:hover span {
  left: auto;
  right: 20px;
}
.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
}
#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url('../img/ui/fancybox-x.png');
}
#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url('../img/ui/fancybox.png');
  background-position: -40px -162px;
}
#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url('../img/ui/fancybox-y.png');
  background-position: -20px 0px;
}
#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url('../img/ui/fancybox.png');
  background-position: -40px -182px;
}
#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url('../img/ui/fancybox-x.png');
  background-position: 0px -20px;
}
#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url('../img/ui/fancybox.png');
  background-position: -40px -142px;
}
#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url('../img/ui/fancybox-y.png');
}
#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url('../img/ui/fancybox.png');
  background-position: -40px -122px;
}
#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102;
}
.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}
.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}
.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left;
}
#fancybox-title-over {
  padding: 10px;
  background-image: url('../img/ui/fancy_title_over.png');
  display: block;
}
.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}
#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}
#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}
#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url('../img/ui/fancybox.png') -40px -90px no-repeat;
}
#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url('../img/ui/fancybox-x.png') 0px -40px;
}
#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url('../img/ui/fancybox.png') -55px -90px no-repeat;
}
/*:::: HELPER CLASSES ::::*/
/* 
 * Define your styles before this section.
 * Media Queries can be modified below
 */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hidden from browsers and screen readers */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*  Hidden visibly but available to screenreaders. Same as .hidden but good for accessibility */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends .visually hidden to allow element to be focusable when using the keyboard */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout. Think of it as having an element match the background - looks hidden but affects other elements. Cannot be highlighted */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q This is a godsend in many cases */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* =============================================================================
 
   Use Media Queries for Responsive Design.
   Pixel widths given as samples.
   Edit the widths to suit where your design breaks, rather than
   for device pixels, see 'Using a mobile-first approach': h5bp.com/w
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
